* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: #909090;
    background-color: #ecf0f3;
  }
  
  body .currency-converter {
    width: 300px;
    height: 300px;
    padding: 30px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border-radius: 30px;
    background-color: #ecf0f3;
    -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
            box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  }
  
  body .currency-converter h1 {
    color: #6f6f6f;
    font-size: 20px;
  }
  
  body .currency-converter p {
    font-size: 12px;
    color: #1a1a1a;
    margin: 0;
  }
  
  body .currency-converter p#timer {
    padding: 10px 0;
    color: #eb4242;
  }

  body .currency-converter label {
    display: block;
    font-size: 12px;
  }
  
  body .currency-converter input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
    -webkit-box-shadow: inset 2px 2px 5px #cbced1, inset -2px -2px 5px #ffffff;
            box-shadow: inset 2px 2px 5px #cbced1, inset -2px -2px 5px #ffffff;
    font-size: 12px;
    color: #aeaeae;
  }

  body .currency-converter div {
    -webkit-transition: .5s linear;
    transition: .5s linear;
  }

  #timer {
    font-size: 12px;
    margin: .5em 0;
  }
  
  body .currency-converter div button#submit {
    border: 0;
    outline: 0;
    border-radius: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 0;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: 'Open Sans';
    font-size: 12px;
    color: #ecf0f3;
    background-color: #8bc34a;
    transition: .5s linear;
  }
  
  body .currency-converter div button#submit:hover {
    background-color: #7fb343;
  }